rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    match /tournaments/{tournamentId} {
      allow read, write: if true;

      match /roundResults/{resultId} {
        allow read, write: if true;
      }
    }

    match /users/{userId} {
      allow read, write: if true;
    }
  }
}

